In [101]:
import random
import pandas as pd
from faker import Faker
from datetime import datetime, timedelta
import string
import os

In [102]:
fake = Faker()

In [103]:
gate_columns = [
    "Gate ID",
    "Terminal Name",
    "Gate Number",
    "Status",
    "Airport ID"
]

airport_columns = [
    "Airport ID",
    "Name",
    "City"
]

weather_columns = [
    "Weather ID",
    "Conditions",
    "Update Time",
    "Airport ID"
]

aircraft_columns = [
    "Aircraft ID",
    "Aircraft Type",
    "Current Status"
]

passenger_columns = [
    "Passenger ID",
    "Name",
    "Ticket Number",
    "Flight Number"
]

crew_columns = [
    "Crew ID",
    "Crew Type",
    "Member Name",
    "Flight Number"
]

flight_columns = [
    "Flight Number",
    "Departure Time",
    "Arrival Time",
    "Flight Status",
    "Aircraft ID",
    "Departure Gate ID",
    "Departure Airport ID",
    "Arrival Gate ID",
    "Arrival Airport ID"
]


aircraft_types = ["Airbus A320", "Airbus A380", "Boeing 737", "Boeing 747", "Boeing 787"]

weather_conditions = ["Clear skies", "Partly cloudy", "Light rain", "Snow", 
                                "Heavy rain", "Foggy", "Strong wind", "Thunderstorms with rain", 
                                "Thunderstorms with lightning", "Frost", "Icy runway"]


terminal_names = list(string.ascii_uppercase)

gate_statuses = ["Available", "Occupied", "Under maintenance"]

crew_types = ["Pilot", "First Officer", "Steward"]

aircraft_statuses = ["In flight", "Boarding", "Deboarding", "Taxiing", "Under maintenance",
                                "Parked"]

flight_statuses = ["Boarding", "Gate Closed", "On time", "Delayed", "Departed",
                            "Diverted", "Cancelled", "En Route"]

In [104]:
test = True
passenger_length = 100000 if not test else 10000
gate_length = 25000 if not test else 250
flights_length = 50000 if not test else 1000
airport_length = 5000 if not test else 25
aircraft_length = 20000 if not test else 100
weather_length = 50000 if not test else 500
crew_length = 50000 if not test else 5000

In [105]:
def generate_random_datetimes(count: int, seed=None):
    if seed is not None:
        random.seed(seed)
    
    # Generate a random date within a given range
    start_date = datetime(2020, 1, 1)  # Start date
    end_date = datetime(2023, 12, 31)  # End date
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    
    # First random datetime
    random_date1 = start_date + timedelta(days=random_days)
    random_time1 = timedelta(hours=random.randint(0, 23), minutes=random.randint(0, 59), seconds=random.randint(0, 59))
    datetime1 = datetime.combine(random_date1, (datetime.min + random_time1).time())
    
    if count == 1:
        return datetime1

    # Decide if the second datetime will be on the same day or the next day
    same_day = random.choice([True, False])
    
    if same_day:
        # Second datetime on the same day
        random_time2 = timedelta(hours=random.randint(0, 23), minutes=random.randint(0, 59), seconds=random.randint(0, 59))
        datetime2 = datetime.combine(random_date1, (datetime.min + random_time2).time())
    else:
        # Second datetime on the next day
        random_date2 = random_date1 + timedelta(days=1)
        random_time2 = timedelta(hours=random.randint(0, 23), minutes=random.randint(0, 59), seconds=random.randint(0, 59))
        datetime2 = datetime.combine(random_date2, (datetime.min + random_time2).time())
    
    # Ensure the datetime2 is after datetime1 if they are on the same day
    if datetime2 < datetime1 and same_day:
        datetime1, datetime2 = datetime2, datetime1

    return datetime1, datetime2

# Example usage with a seed:
seed_value = 42
dt1, dt2 = generate_random_datetimes(count=2, seed=seed_value)
print("Datetime 1:", dt1)
print("Datetime 2:", dt2)

Datetime 1: 2023-08-02 03:01:47
Datetime 2: 2023-08-03 07:14:08

In [106]:

flights_dict = []

for i in range(flights_length):
    departure, arrival = generate_random_datetimes(count=2, seed=i)
    status = random.choice(flight_statuses)
    column_values = {key: None for key in flight_columns}
    column_values = column_values | {"Departure Time": departure,
                     "Arrival Time": arrival,
                     "Flight Status": status}
    flights_dict.append(column_values)

flights_values_df = pd.DataFrame.from_records(flights_dict)

In [107]:
flights_values_df.head()

,Flight Number,Departure Time,Arrival Time,Flight Status,Aircraft ID,Departure Gate ID,Departure Airport ID,Arrival Gate ID,Arrival Airport ID
0,None,2022-02-27 13:02:16,2022-02-28 12:58:50,Departed,None,None,None,None,None
1,None,2020-10-02 08:07:31,2020-10-02 18:54:51,En Route,None,None,None,None,None
2,None,2020-04-25 02:05:23,2020-04-25 23:51:42,Departed,None,None,None,None,None
3,None,2021-05-02 18:34:08,2021-05-03 19:30:40,Gate Closed,None,None,None,None,None
4,None,2021-04-28 09:06:46,2021-04-29 15:09:05,Gate Closed,None,None,None,None,None

In [108]:

crew_dict = []

for i in range(crew_length):
    crew_type = random.choice(crew_types)
    member_name = fake.name()
    column_values = {key: None for key in crew_columns}
    column_values = column_values | {"Crew Type": crew_type,
                     "Member Name": member_name}
    crew_dict.append(column_values)

crew_values_df = pd.DataFrame.from_records(crew_dict)

In [109]:
crew_values_df.head()

  Crew ID Crew Type      Member Name Flight Number
0    None   Steward   Danielle Davis          None
1    None   Steward      Glen Campos          None
2    None     Pilot    Martha Howard          None
3    None   Steward  Rebecca Hendrix          None
4    None     Pilot  Michael Bridges          None

In [110]:
def generate_ticket_number(length):
    # Define the characters to include: digits and uppercase letters
    characters = string.ascii_uppercase + string.digits
    
    # Generate a random string of the specified length
    random_string = ''.join(random.choices(characters, k=length))
    
    return random_string

In [111]:

passenger_dict = []

for i in range(passenger_length):
    name = fake.name()
    ticket_number = generate_ticket_number(length=10)
    column_values = {key: None for key in passenger_columns}
    column_values = column_values | {"Ticket Number": ticket_number,
                     "Name": name}
    passenger_dict.append(column_values)

pasenger_values_df = pd.DataFrame.from_records(passenger_dict)

In [112]:
pasenger_values_df.head()

  Passenger ID                Name Ticket Number Flight Number
0         None    Mrs. Laura Lewis    JO1GOJA32N          None
1         None      Zachary Jacobs    Z7I3UCD2SO          None
2         None      Mark Rodriguez    Z4DDUJOP9R          None
3         None  Jacqueline Garrett    UTTF1PPXJM          None
4         None         Adam Garcia    885Z8D7OTR          None

In [113]:

aircraft_dict = []

for i in range(aircraft_length):
    aircraft_type = random.choice(aircraft_types)
    status = random.choice(aircraft_statuses)
    column_values = {key: None for key in aircraft_columns}
    column_values = column_values | {"Aircraft Type": aircraft_type,
                     "Current Status": status}
    aircraft_dict.append(column_values)

aircraft_values_df = pd.DataFrame.from_records(aircraft_dict)

In [114]:
aircraft_values_df.head()

  Aircraft ID Aircraft Type Current Status
0        None    Boeing 747      In flight
1        None    Boeing 747         Parked
2        None   Airbus A380     Deboarding
3        None    Boeing 737       Boarding
4        None   Airbus A380      In flight

In [115]:

weather_dict = []

for i in range(weather_length):
    weather_condition = random.choice(weather_conditions)
    update_time = generate_random_datetimes(count=1, seed=i)
    column_values = {key: None for key in weather_columns}
    column_values = column_values | {"Conditions": weather_condition,
                     "Update Time": update_time}
    weather_dict.append(column_values)

weather_values_df = pd.DataFrame.from_records(weather_dict)

In [116]:
weather_values_df.head()

  Weather ID                    Conditions         Update Time Airport ID
0       None       Thunderstorms with rain 2022-02-27 13:02:16       None
1       None  Thunderstorms with lightning 2020-10-02 18:54:51       None
2       None                 Partly cloudy 2020-04-25 02:05:23       None
3       None                    Light rain 2021-05-02 18:34:08       None
4       None                         Foggy 2021-04-28 09:06:46       None

In [117]:
airport_dict = []

for i in range(airport_length):
    city = fake.city()
    airport_name = ("".join(fake.random_letters(length=3))).upper()
    column_values = {key: None for key in airport_columns}
    column_values = column_values | {"Name": airport_name,
                     "City": city}
    airport_dict.append(column_values)

airport_values_df = pd.DataFrame.from_records(airport_dict)

In [118]:
airport_values_df['Name']

0     OZB
1     BAX
2     JXK
3     NWQ
4     SEZ
5     RKB
6     BCQ
7     BYM
8     TPN
9     NHM
10    BTM
11    SGN
12    ZLN
13    TVD
14    JLQ
15    JNV
16    PNR
17    IZL
18    IMF
19    EPR
20    GNQ
21    GFA
22    OAT
23    DOO
24    WQG
Name: Name, dtype: object

In [119]:
gate_dict = []

for i in range(gate_length):
    terminal = random.choice(list(string.ascii_uppercase))
    gate_number = terminal + str(random.choice(range(1,100)))
    gate_status = random.choice(gate_statuses)
    column_values = {key: None for key in gate_columns}
    column_values = column_values | {"Terminal Name": terminal,
                     "Gate Number": gate_number,
                     "Status": gate_status}
    gate_dict.append(column_values)

gate_values_df = pd.DataFrame.from_records(gate_dict)

In [120]:
gate_values_df.head()

  Gate ID Terminal Name Gate Number             Status Airport ID
0    None             P         P39  Under maintenance       None
1    None             P         P35  Under maintenance       None
2    None             D         D88  Under maintenance       None
3    None             I          I9           Occupied       None
4    None             N         N88           Occupied       None

In [121]:
def add_id_values_to_df(df: pd.DataFrame, id_col: str):
    df[id_col] = df.index + 1
    return df

In [123]:
flights_values_df = add_id_values_to_df(flights_values_df, "Flight Number")
gate_values_df = add_id_values_to_df(gate_values_df, "Gate ID")
crew_values_df = add_id_values_to_df(crew_values_df, "Crew ID")
airport_values_df = add_id_values_to_df(airport_values_df, "Airport ID")
aircraft_values_df = add_id_values_to_df(aircraft_values_df, "Aircraft ID")
weather_values_df = add_id_values_to_df(weather_values_df, "Weather ID")

In [ ]:
def save_sheets_to_csv():
    flights_values_df.to_csv('flights.csv', index=False)
    gate_values_df.to_csv('gates.csv', index=False)
    crew_values_df.to_csv('crew.csv', index=False)
    pasenger_values_df.to_csv('passengers.csv', index=False)
    weather_values_df.to_csv('weather.csv', index=False)
    aircraft_values_df.to_csv('aircrafts.csv', index=False)
    airport_values_df.to_csv('airports.csv', index=False)